@font-face {
    font-family: 'iconfont';
    src: url('./assets/iconfont.woff') format('woff'),
    url('./assets/iconfont.woff2') format('woff2'),
    url('./assets/iconfont.ttf') format('truetype');

}

.icon1{
    font-family: 'iconfont';
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.redColor{
    color: red;
}

.block-bg{
 background-image: url("./assets/Photos.svg") !important;
}